body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #2B324A;
    color: #ffffff; 
    padding: 100px; /* Ajusta el espaciado interno según tus preferencias */
    text-align: left;
}

header h1 {
    margin: 0;
    
}

header div {
    margin: 0; 
    float:right;
    background-color: #2B324A;
    color: #DDDDDD;
    text-align: right;
    
}

header img {
    float: left;
    margin-right: 15px;
    width: 80px;
    height: 100px;
    margin-top: -35px; /* Ajusta el margen superior según tus preferencias */
    margin-left: -70px;  
} 

.main-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #2B324A;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  
  .sidebar > div {
    margin-bottom: 15px;
  }

  .sidebar img {
    width: 50px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 50px;
    margin-left: 10px; /* Espaciado entre la imagen y el texto */
    margin-top: 0px;
}

  .sidebar p {
    color: white;
    margin-left: 10px;
    margin-top: 0px;
  }

  .boton {
    margin-top: 10px; /* Espaciado entre los botones y los elementos anteriores */
  }
  
  .boton button {
    padding: 8px 16px; /* Ajusta el padding según tus necesidades */
    background-color: #C1C7D9; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40px;
  }

.Titulo {
  font-size: 25px;
  margin-top: -1000px;
}

.Arq img {
  width: 200px;
  height: 200px;
  margin-top: 0px;
  margin-left: 500px;
}

.Arq h4 {
  font-size: 30px;
  margin-top: -100px;
  margin-left: 290px;
}

.Quim img {
  width: 200px;
  height: 200px;
  margin-top: -0px;
  margin-left: 700px;

}

.Quim h4 {
  font-size: 30px;
  margin-top: -100px;
  margin-left: 400px;
}

.Info img {
  width: 200px;
  height: 200px;
  margin-top: -00px;
  margin-left: 900px;
  
}

.Info h4 {
  font-size: 30px;
  margin-top: -100px;
  margin-left: 550px;
}

.Meca img {
  width: 200px;
  height: 200px;
  margin-top: -00px;
  margin-left: 1100px;
}

.Meca h4 {
  font-size: 30px; 
  margin-top: -100px;
  margin-left: 800px;
}

 