body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #2B324A;
    color: #ffffff; 
    padding: 100px; /* Ajusta el espaciado interno según tus preferencias */
    text-align: left;
}

header h1 {
    margin: 0;
    
}

header div {
    margin: 0; 
    float:right;
    background-color: #2B324A;
    color: #DDDDDD;
    text-align: right;
    
}

header img {
    float: left;
    margin-right: 15px;
    width: 80px;
    height: 100px;
    margin-top: -35px; /* Ajusta el margen superior según tus preferencias */
    margin-left: -70px;  
} 

.main-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #2B324A;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 900px;
    margin-top: 0px;
  }
  
  .sidebar > div {
    margin-bottom: 15px;
  }

  .sidebar img {
    width: 50px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 50px;
    margin-left: 10px; /* Espaciado entre la imagen y el texto */
    margin-top: 0px;
}

  .sidebar p {
    color: white;
    margin-left: 10px;
    margin-top: 0px;
  }

  .boton {
    margin-top: 10px; /* Espaciado entre los botones y los elementos anteriores */
  }
  
  .boton button {
    padding: 8px 16px; /* Ajusta el padding según tus necesidades */
    background-color: #C1C7D9; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40px;
  }

  
  .Cuadr {
    background-color: #D9D9D9;
    height: 450px;
    width: 750px;
    margin-top: -800px;
    margin-left: 350px;
  }

  .Cuadr h1 {
    margin-left: 250px;
    
}

.Cuadr img {
    width: 200px;
    height: 250px;
    margin-left: 50px;
    margin-top:15px;
}

.Cuadr h3 {
    font-size: 25px;
    margin-top: -150px;
    margin-left: 300px;
}