body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #2B324A;
<<<<<<< HEAD
    color: #ffffff; /* Color del texto en el encabezado */
    padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
=======
    color: #ffffff; 
    padding: 100px; /* Ajusta el espaciado interno según tus preferencias */
>>>>>>> 452eb2132babf5f9f4c5b4ba7aad63cf4afa7973
    text-align: left;
}

header h1 {
    margin: 0;
}

<<<<<<< HEAD
=======
.enlace-registro {
    color: white; /* Color del texto */
    text-decoration: underline; /* Subrayado */
  }

>>>>>>> 452eb2132babf5f9f4c5b4ba7aad63cf4afa7973
header div {
    margin: 0; 
    float:right;
    background-color: #2B324A;
    color: #DDDDDD;
    text-align: right;
    
}

header img {
<<<<<<< HEAD
        float: left;
        margin-right: 15px;
        width: 50px;
        height: 120px;
        margin-top: 15px; /* Ajusta el margen superior según tus preferencias */
        margin-left: -96px;
        
    }

.enlace-registro {
    color: white; /* Color del texto */
    text-decoration: underline; /* Subrayado */
  }
  

div h1 {
    margin-top:80px;
    margin-left: 700px;}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1 rem;
} 

.formulario label {
    margin-top: 30px;
    margin-right: 1050px;
}

.formulario button {
    margin-top: 30px;
    font-size: 24px;
    margin-right: 500px;
    background-color: #2B324A;
    color: white;
}

   .nocuenta button {
    margin-left: 550px;
    margin-top: 60px;
    padding: 10px; /* Ajusta el relleno del botón */
=======
    float: left;
    margin-right: 10px;
    width: 10px;
    height: 12px;
    margin-top: 15px; /* Ajusta el margen superior según tus preferencias */
    margin-left: -96px;  
} 

div h1 {
    margin-top:80px;
    margin-left: 500px;}
    

    #formulario {
        width: 300px; /* Ajusta el ancho según tus necesidades */
        /*margin: 20px auto; /* Centra el formulario en la página y agrega espacio en la parte superior e inferior */
        padding: 20px; /* Agrega espacio interno al formulario */
        /*border: 1px solid #ccc; /* Agrega un borde al formulario */
        /*border-radius: 5px; /* Redondea las esquinas del formulario */
        margin-left: 350px;
    }

    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-bottom: 5px; /* Agrega espacio entre las etiquetas y los campos de entrada */
    }
    
    input {
        padding: 8px; /* Ajusta el relleno del campo de entrada */
        margin-bottom: 10px; /* Agrega espacio entre los campos de entrada */
    }

    .contrasena-container {
        position: relative;
      }
      
      .mostrar-ocultar {
        position: absolute;
        right: 0;
        top: 80%;
        cursor: pointer;
        color: #888; 
      }
    
    button {
        background-color: #2B324A; /* Establece el color de fondo del botón */
        color: #ffffff;
        padding: 10px; /* Ajusta el relleno del botón */
>>>>>>> 452eb2132babf5f9f4c5b4ba7aad63cf4afa7973
        border: none; /* Elimina el borde del botón */
        border-radius: 5px; /* Redondea las esquinas del botón */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        border-radius: 25px;
<<<<<<< HEAD
        font-size: 25px;
   }
    
    .image img {
        margin-top: -500px;
        width: 600px;
        height: 500px;
        margin-left: 1300px;

=======
    }

    img {
        float: right;
        width: 900px;
        height: 900px;
>>>>>>> 452eb2132babf5f9f4c5b4ba7aad63cf4afa7973
    }
    